html {
    width: 100%;
    height:100%;
    overflow: hidden;
}

body { 
    width: 100%; 
    height: 100%; 
} 
.vid{

    overflow: hidden;
    width: 100%; 
    height: 100%; 
    position: centre;
}
