body { 
    background-image: url("../images/try5.png");
    background-repeat: no-repeat;
    background-position: center center; 
    background-attachment: fixed;
    background-size: contain;
    overflow: hidden;

    width:360px;
    height:640px;

  } 

.main{
    top:70%;
    left:50%;
    position: relative;
}