body { 
    background-image: url("../images/try5.png");
    background-repeat: no-repeat;
    background-position: center center; 
    background-attachment: fixed;
    background-size: 360px 640px;

    overflow: hidden;

    height:640px;
    width:360px;

  } 

.btn{

  padding: 10px 24px;
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
  border-radius: 8px;
  top:75%;
  left:45%;
  position: absolute;

}