html{
    background-image: url("../images/try4.png");
    background-repeat: no-repeat;
    background-position: center; 
    width: 100%;
    height:100%;
    overflow: hidden;
}


input[type="button"]{

    right:870px;
    left:20px;
}